# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.log
*.nav
*.out
*.snm
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv

# Editor backup files
*~
*.swp
*.bak
*.tmp

# PDF output
*.pdf

# MacOS files
.DS_Store

# Other
*.gz
*.dvi
*.ps
*.thm
*.synctex
*.synctex(busy)